<div class="container">
    <div class="row justify-content-center">
        <div class="">
            <div class="add-task-div col-md-6 col-12 mx-auto rounded rounded-5 p-md-5 p-sm-3 p-1 my-md-5 my-sm-3 my-1 ">
                <div class="text-center">
                    <h1>Add Task Form</h1>
                </div>
                <form>
                    <label class="form-label">Title</label>
                    <input class="form-control" placeholder="Enter Title" />
                    <label class="form-label">Description</label>
                    <input class="form-control" placeholder="Enter Title" />
                    <label class="form-label">Deadline</label>
                    <input class="form-control" placeholder="Enter Title" />
                    <label class="form-label">Assign To</label>
                    <select class="form-select" aria-label="Default select example">
                    <option selected>Select Developer</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                    <div class="text-center mt-md-5 mt-2">
                        <button type="submit" class="btn btn-outline-dark w-25">Update </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
