<div class="container">
    <div class="row">
        <div class="prfile-detail div shadow col-md-6 mx-auto my-md-5 my-sm-4 my-3 p-md-5 p-sm-4 p-3 bg-light rounded border border-1">
            <div class="fw-bold text-center">
                <h1>Profile Details</h1>
            </div>
            <label class="form-label">Email</label>
            <input type="text" readonly class="form-control" value="Umair.Malik@gmail.com">
            <label class="form-label">Username</label>
            <input type="text" readonly class="form-control" value="Umair Malik">
            <div class="col-12 text-center mt-md-5 mt-2">
                <button class="btn btn-outline-dark">Update Profile</button>
            </div>
        </div>
    </div>
</div>
